<h2><%= @blog_id.title %></h2><br>
<h5>Author name : 

	<% @user_posts.each do |post| %>
		<% if(@blog_id.user_id == post.id)%>
			<%= post.name %> -- <%= post.created_at %>
		<%end%>
	<% end %>

<br><br>
<p><%= @blog_id.description %></p>
