<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
  <a href="#" class="w3-bar-item w3-button w3-border-bottom">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-border-bottom">All Blogs</a>
  <a href="#" class="w3-bar-item w3-button w3-border-bottom">All Bloggers</a>
</div>

<div style="margin-left:25%">

<header class="w3-container w3-dark-grey">
  
</header>

<div class="w3-container">
  
</div>

</div>